<! DOCTYPE html>
<html>
	<head>
		<title>Lotus Calculator</title>
		<link rel="stylesheet" href="calculator.css" type="text/css">
		<script src="bower_components/angular/angular.min.js"></script>
		<!--<script src="angular 1.6.4.js"></script>-->
		<script src="calculator.js"></script>

	</head>
	<body>
		<h2 style="color:yellow">Simple Calculator</h2>
			<div class = "calc" ng-app="calc" ng-controller ="calculatorangjs">
				<marquee>Angular Js Calculator by Chidi</marquee>
				<input type="text" id="display" value="{{display}}" readonly><br>
				<input type="button" class="first op" value="1" ng-click="num1()">
				<input type="button" class="first op" value="2" ng-click="num2()">
				<input type="button" class="first op" value="3" ng-click="num3()">
				<input type="button" class="first op" value="4" ng-click="num4()"><br>
				<input type="button" class="second op" value="5" ng-click="num5()">
				<input type="button" class="second op" value="6" ng-click="num6()">
				<input type="button" class="second op" value="7" ng-click="num7()">
				<input type="button" class="second op" value="8" ng-click="num8()"><br>
				<input type="button" class="third op" value="9" ng-click="num9()">
				<input type="button" class="third op" value="0" ng-click="num0()">
				<input type="button" class="third op" value="+" ng-click="add()">
				<input type="button" class="third op" value="-" ng-click="sub()"><br>
				<input type="button" class="fourt op" value="*" ng-click="mult()">
				<input type="button" class="fourt op" value="/" ng-click="div()">
				<input type="button" class="fourt op" value="=" ng-click="eguals()">
				<input type="button" class="fourt op" value="C" ng-click="clean()"><Br>
				<input type="button" class="third op" value="." ng-click="dot()">
				<input type=button class="third op" value="&radic;" ng-Click="doMath()">
				<input type=button class="third op" value="x2" ng-Click="sqr()">
				<input type=button class="third op" value="1/x" ng-Click="onex()">

			</div>

</body>
</html>







